.tab
{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-03a-OU_dJuNZH8pcrO4HI-3oODdDlhyyxB7pqI8f6hm9GFB1);
   
    background-size: 100% 100%;
}
.background
{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvsp-99a4nGKdNpRWHhB4g8EMeUEXFMWwVqjO-iEssvK2tjM0z);
   
    background-size: 100% 100%;
}
